.formInput{
    width: 50%; 
    border:grey solid 0.5px;
    margin-bottom: 8px;
    border-radius: 6px;
    padding:8px 16px 8px 16px;
}

.login {
    cursor: pointer;
    background-color: lightsalmon;
    padding:8px 16px 8px 16px;
    border:none;
    border-radius: 6px;
    width: 50%;
}

.login:hover {
background-color: rgb(223, 105, 58);
}

.warning{
    color:brown;
    margin-bottom: 16px;
}

@media (max-width: 600px) {
    .formInput, .login {
        width: 100%; 
    }
    .form {
        padding:16px
     }
  }